{% extends "base.html" %} {% block title %} ADD PET {% endblock %} {% block
content %}

<section class="pets">
  <h3 class="users_title">ADD A PET</h3>

  <form action="/add" id="pet-add-form" method="POST">
    {{ form.hidden_tag() }} 
    {% for field in form if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }} 
      {{ field }} 
      {% for error in field.erros %} 
      {{error}} 
      {% endfor %}
    </p>

    {% endfor %}

    <button type="submit">Submit</button>
  </form>
</section>



{% endblock %}
