{% extends "base.html" %} {% block title %} ADD PET {% endblock %} {% block
content %}

<div class="container">
<br>
<h1 class="details">DETAILS</h1>  
<hr>
<div class="container pet-container">
<div class="row">
  <div class="col">
  <img class="pet-img"src="{{ pet.photo }}" alt="Photo of Pet">
</div>
<div class="col-9">
  <p class="pet-title">{{ pet.name }}</p>
  <p class="pet-details">{{ pet.species }}</p>
  <p class="pet-details">{{ pet.age }} years old</p>
  <p class="pet-details">{% if pet.notes %}Notes: {{ pet.notes }}{% endif %}</p>
  <p class="pet-details">{% if pet.available == True %}{{ pet.name }} is available for adoption! {% else %}{{ pet.name }} is no longer available. {% endif %}</p>
</div> 
</div>
</div>
<h1 class="details">EDIT {{ pet.name }}</h1> 
<hr>
  <form action="/edit/{{ pet.id }}" id="pet-add-form" method="POST">
    {{ form.hidden_tag() }} 
    

    <div class="form-group">
      {{ form.name.label }} 
      {{ form.name(class_="form-control") }} 
      {% if form.name.errors %}
        <small class="form-text text-danger">{{ form.name.errors }}</small>
      {% endif %}
    </div>  

<div class="form-group">
      {{ form.species.label }} 
      {{ form.species(class_="form-control") }} 
      {% if form.species.errors %}
        <small class="form-text text-danger">{{ form.species.errors }}</small>
      {% endif %} 
</div>
      {{ form.photo.label }} 
      {{ form.photo(class_="form-control") }} 
      {% if form.photo.errors %}
        <small class="form-text text-danger">{{ form.photo.errors }}</small>
      {% endif %} 
<div class="form-group">
      {{ form.age.label }} 
      {{ form.age(class_="form-control") }} 
      {% if form.age.errors %}
        <small class="form-text text-danger">{{ form.age.errors }}</small>
      {% endif %}
</div>
<div class="form-group">
      {{ form.notes.label }} 
      {{ form.notes(class_="form-control") }} 
      {% if form.notes.errors %}
        <small class="form-text text-danger">{{ form.notes.errors }}</small>
      {% endif %} 
      </div>
<div class="form-group">
      {{ form.available.label }} 
      {{ form.available(class_="form-check-label") }} 
      {% if form.available.errors %}
        <small class="form-text text-danger">{{ form.available.errors }}</small>
      {% endif %} 
     </div>

    

  

    <button class= "btn btn-success btn-lg"type="submit">Submit</button>
  </form>
</div>



{% endblock %}
