{% extends "base.html" %} {% block title %} ADD PET {% endblock %} {% block
content %}

<div class="container">
  <h3 class="users_title">EDIT {{ pet.name }}</h3>

  <form action="/edit/{{ pet.id }}" id="pet-add-form" method="POST">
    {{ form.hidden_tag() }} 
    

    <div class="form-group">
      {{ form.name.label }} 
      {{ form.name(class_="form-control") }} 
      {% if form.name.errors %}
        <small class="form-text text-danger">{{ form.name.errors }}</small>
      {% endif %}
    </div>  

<div class="form-group">
      {{ form.species.label }} 
      {{ form.species(class_="form-control") }} 
      {% if form.species.errors %}
        <small class="form-text text-danger">{{ form.species.errors }}</small>
      {% endif %} 
</div>
      {{ form.photo.label }} 
      {{ form.photo(class_="form-control") }} 
      {% if form.photo.errors %}
        <small class="form-text text-danger">{{ form.photo.errors }}</small>
      {% endif %} 
<div class="form-group">
      {{ form.age.label }} 
      {{ form.age(class_="form-control") }} 
      {% if form.age.errors %}
        <small class="form-text text-danger">{{ form.age.errors }}</small>
      {% endif %}
</div>
<div class="form-group">
      {{ form.notes.label }} 
      {{ form.notes(class_="form-control") }} 
      {% if form.notes.errors %}
        <small class="form-text text-danger">{{ form.notes.errors }}</small>
      {% endif %} 
      </div>
<div class="form-group">
      {{ form.available.label }} 
      {{ form.available(class_="form-check-label") }} 
      {% if form.available.errors %}
        <small class="form-text text-danger">{{ form.available.errors }}</small>
      {% endif %} 
     </div>

    

  

    <button class= "btn btn-success btn-lg"type="submit">Submit</button>
  </form>
</div>



{% endblock %}
