

{% extends "base.html" %}

{% block title %} HOME {% endblock %}


{% block content %}


<section class="pets">

<h1 class="home-header">AVAILABLE PETS</h1>
<br>

{% for pet in pets %}
<div class="container pet-container">
<div class="row">
  <div class="col">
  <img class="pet-img"src="{{ pet.photo }}" alt="Photo of Pet">
</div>
<div class="col-9">
  <p class="pet-title">{{ pet.name }}</p>
  <p class="pet-details">{{ pet.species }}</p>
  <p class="pet-details">{{ pet.age }} years old</p>
  <p class="pet-details">{% if pet.notes %}Notes: {{ pet.notes }}{% endif %}</p>
  <p class="pet-details">{% if pet.available == True %}{{ pet.name }} is available for adoption! {% else %}{{ pet.name }} is no longer available. {% endif %}</p>
  <button class="btn btn-sm btn-info">EDIT</button>
</div> 
</div>
</div>
{% endfor %}





</section>


{% endblock %}
